<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
<h1>
    <ul>

    
<%if(locals.user){%>

    <li><%=user.name%></li>
<li>
    <a href="/user/sign-out">sign Out</a>
</li>

    <%}else{%>

        <li>
            <a href="/user/sign-in"></a>
        </li>
        <li>
            <a href="/user/sign-up"></a>
        </li>


        <%}%>
    </ul>
</h1>
    <h2>Codeial /<%= title %></h2>


<section>
    <form action="/post/create"  id="feed-posts" method="POST">
        <h3>Posts</h3>
        <textarea name="content" id="new-post-form" cols="30" rows="5" placeholder="type here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>




</body>
</html>