<html>
    <head>

    </head>
    <body>
        <h1>Codeial / <%=title%></h1>
        <form action="/user/sign-up-crediantial" method="post">
        <input type="text" name="name" placeholder="enter your name">
        <input type="email" name="email" id="" placeholder="abc@gmail.com">
        <input type="password" name="password" id="" placeholder="password">
        <input type="submit" value="Submit">
        </form>
    </body>
</html>